In [109]:
import pandas as pd
import numpy as np

def escrever_excel(dfa, nome):
    dfa.to_excel('%s.xlsx' %nome, index=False)

# Ler e Mudar nomes
- Ficheiros base

In [49]:
%%time
dfDelta=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\1Delta-Sonae BQ.xlsx", sheet_name="Sheet1")
#dfDelta2=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\Stocks Sonae_Liquida.xlsx", sheet_name="Sheet1")
#dfDelta=pd.concat([dfDelta1, dfDelta2], ignore_index=True)

dfNinjas1=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\2Ninja-CafesCervejaSonae.xlsx")
dfNinjas2=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\2Ninja-CafesSonae.xlsx")
dfNinjas3=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\2Ninja-CervejaSonae.xlsx")
dfNinjas=pd.concat([dfNinjas1, dfNinjas2, dfNinjas3], ignore_index=True, axis=0, sort=False)

dfSonae1=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\3Sellout-CafeSonae3d.xlsx", sheet_name="Lista Lojas Sonae")
dfSonae2=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\3Sellout-CervSonae3d.xlsx", sheet_name="Lista Lojas Sonae")
dfSonae3=pd.merge(dfSonae1, dfSonae2, how="outer", on = "STORE")#,"Descrição Loja"])

dfNinjas = dfNinjas.rename(columns={' Data de Resposta': 'DATA', "Código da loja":"STORE"})

dfSonae3['Vendedor_x'] = dfSonae3['Vendedor_x'].fillna(dfSonae3['Vendedor_y'])
dfSonae3['STORE_NAME']=dfSonae3['STORE_NAME'].fillna(dfSonae3['Descrição Loja'])
dfSonae3=dfSonae3.rename(columns={"Vendedor_x": "Vendedor"})
dfSonae3=dfSonae3.drop(columns=['Descrição Loja', 'Vendedor_y'])
dfSonae3['STORE_NAME'] = dfSonae3['STORE_NAME'].str.upper()

Wall time: 9.42 s

- Ficheiro reposição

In [55]:
dfSonae4=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\3Reposição.xlsx")

# Meter no ficheiro 3
dfSonae3['Reposição'] = ["Sim" if val in dfSonae4['Descrição Loja'].values else "Não" for val in dfSonae3['STORE_NAME']]

- Estabelecer variáveis

In [38]:
produtos=dfNinjas.columns[5:10]

# Como o sellout foi dado para o fds, dividir por 3 para fazer por dia

In [121]:
dfSonae=dfSonae3.copy()
dividir=dfSonae3.columns[3:-1]
dfSonae[dividir]=dfSonae3[dividir]/3
dfSonae = dfSonae.rename(columns={'DELTA Q AQTIVUS CÁP. CX 10 UN': 'CAFÉ DELTA Q AQTIVUS 10CAP', 
                                  "DELTA Q DEQAFEINATUS CÁP. CX 10 UN":"CAFÉ DELTA Q DEQAFEINATUS 10CAP",
                                 "DELTA Q-QALIDUS CÁP. CX 10 UN":"CAFÉ DELTA Q QALIDUS 10CAP",
                                 "Cerveja Franziskaner Weiss 50cl (S/N)":"CERV.C/ALC.T/P FRANZISKANER WEISSBI.50CL",
                                 "Cerveja Corona 35,5 CL(S/N)":"CERV.C/ALC.T/P CORONA 35,5CL"})
dfSonae=dfSonae.iloc[:, [0,1,2,5,3,4,7,6,8]]

## O que tem cada ficheiro:

### **dfDelta**:
1. Formato long (produtos numa única coluna "DESC_ARTIGO")
2. Stocks, em Trânsito, Esperado, Linear, sellout dia anterior	


### **dfNinjas**:
1. Formato wide (cada produto numa coluna)
2. Presença de produto em linear para cada produto

### **dfSonae**:
1. Formato wide
2. Sellouts, Vendedores, Reposição

In [326]:
diasrot(dfNiStoSell, dfNiStoSell.columns[5])
diasrot(dfNiStoSell, dfNiStoSell.columns[6])
diasrot(dfNiStoSell, dfNiStoSell.columns[7])
diasrot(dfNiStoSell, dfNiStoSell.columns[8])
diasrot(dfNiStoSell, dfNiStoSell.columns[9])

In [328]:
dfSell22=pd.read_excel("D:\\Brands and Ninjas\\Delta\\Mar-abril23\\sellmed.xlsx")

In [296]:
dfSell22.tail()

,STORE,SELLOUT CAFÉ DELTA Q AQTIVUS 10CAP 22,SELLOUT CAFÉ DELTA Q DEQAFEINATUS 10CAP 22,SELLOUT CAFÉ DELTA Q QALIDUS 10CAP 22,"SELLOUT CERV.C/ALC.T/P CORONA 35,5CL 22",SELLOUT CERV.C/ALC.T/P FRANZISKANER WEISSBI.50CL 22
157,5767,5,2.000000,0.0,0.0,4.0
158,6089,9,2.000000,4.0,0.0,0.0
159,7695,4,0.000000,3.0,0.0,0.0
160,9024,0,1.000000,1.0,0.0,0.0
161,9083,6,1.666667,2.0,0.0,3.0

In [329]:
dfNiStoSellcom22=pd.merge(dfNiStoSell, dfSell22, how="left", on = ["STORE"])

In [333]:
dfNiStoSellcom22.to_excel('DataFusionComMed4.xlsx', index=False)

# VER

In [92]:
#dfDelta.info()
dfNinjas.head()
#dfSonae.head()

,Hora,DATA,Nome da Loja,STORE,Promoção,CAFÉ DELTA Q QALIDUS 10CAP,CAFÉ DELTA Q AQTIVUS 10CAP,CAFÉ DELTA Q DEQAFEINATUS 10CAP,"CERV.C/ALC.T/P CORONA 35,5CL",CERV.C/ALC.T/P FRANZISKANER WEISSBI.50CL
0,17:07:13,2023-04-01,Continente Arrábida (Gaia Jardim),460,1.0,1.0,1.0,1.0,1.0,1.0
1,19:54:22,2023-04-02,Continente Aveiro,458,1.0,1.0,1.0,1.0,1.0,1.0
2,18:27:18,2023-03-31,Continente Barreiro,927,0.0,1.0,1.0,1.0,1.0,1.0
3,10:51:34,2023-03-31,Continente Beja,207,1.0,1.0,1.0,1.0,1.0,1.0
4,21:49:00,2023-04-02,Continente Braga,459,1.0,1.0,1.0,1.0,1.0,1.0

# Mudar para datetime os que forem precisos

In [87]:
dfDelta['DATA'] = pd.to_datetime(dfDelta['DATA'], format=('%d-%m-%Y'))
#dfSonae['DATA'] = pd.to_datetime(dfSonae['DATA'])

# Pedir dados fundamentais

In [90]:
x = int(input("Número de colunas que não são produto em dfNinjas: "))
y = int(input("A partir de qual coluna aparece produto: "))
n = len(dfNinjas.columns)-x

nomesProd = dfNinjas.columns[y-1:y-1+n]
nomesResto = dfNinjas.columns.difference(nomesProd)

Número de colunas que não são produto: 4
A partir de qual coluna aparece produto: 5

# Código Ninjas (Presença, pôr long)

In [93]:
dfNinjasLong = dfNinjas.melt(id_vars=nomesResto, value_vars=nomesProd, var_name='DESC_ARTIGO', value_name='NinjaInfo')
dfNinjasLong = dfNinjasLong.dropna(subset=['NinjaInfo'])

In [98]:
dfNinjasLong.head()

,DATA,Hora,Nome da Loja,STORE,DESC_ARTIGO,NinjaInfo
0,2023-04-01,17:07:13,Continente Arrábida (Gaia Jardim),460,Promoção,1.0
1,2023-04-02,19:54:22,Continente Aveiro,458,Promoção,1.0
2,2023-03-31,18:27:18,Continente Barreiro,927,Promoção,0.0
3,2023-03-31,10:51:34,Continente Beja,207,Promoção,1.0
4,2023-04-02,21:49:00,Continente Braga,459,Promoção,1.0

# Código para Delta (Stocks, mergir, tira-se muitas colunas)

In [101]:
dfMeio = pd.merge(dfNinjasLong, dfDelta, how="left", on = ["DATA","STORE","DESC_ARTIGO"]) 
dfMeio = dfMeio.drop(columns=['FORN/AGENTE/ENT', 'ARTIGO', 'STATUS_ARTIGO',"STORE_NAME","Enc PBL + DIRECTO"])

In [116]:
#escrever_excel(dfResult, "DadosNinjaStocksfim")

# Código para Sonae (Sellouts, pôr long e mergir)

- Para Long

In [145]:
dfSonaeLong = dfSonae.melt(id_vars=["STORE", "STORE_NAME", "Vendedor", "Reposição"], value_vars=nomesProd[1:], var_name='DESC_ARTIGO', value_name='Sellout')
dfSonaeLong = dfSonaeLong.dropna(subset=['Sellout'])

- Mergir

In [ ]:
dfCompleto= pd.merge(dfMeio, dfSonaeLong, how="left", on = ["STORE","DESC_ARTIGO"])

# Já temos DataFrame com:
- Informação Ninjas
- Informação Stocks, Linear, Intransit e Expected
- Informação Sellouts, Vendedor, Reposição

## Fazer:

- Rotura
- Sinal -> Avaliação da informação ninja vs stock
- Ciclos
- Adequação de Stock

In [ ]:
# Estabelecer qual o dataframe em questão

dfFinal=dfCompleto.copy()

> Rotura

In [156]:
%%time
#dfFinal["Rotura"] = np.where(dfFinal["SOH"] > 0, 0, 1)
dfFinal["Rotura"] = (dfFinal["SOH"] == 0).astype(int) #Mais rápido

Wall time: 1e+03 µs

> Sinal

In [158]:

dfFinal['Sinal'] = np.where(dfMeio['NinjaInfo'].astype(bool) & dfMeio['SOH'].astype(bool), 1,
                         np.where(~dfMeio['NinjaInfo'].astype(bool) & dfMeio['SOH'].astype(bool), 2,
                                  np.where(dfMeio['NinjaInfo'].astype(bool) & ~dfMeio['SOH'].astype(bool), 3, 4)))

# 1: Há Stock e Sinal Positivo Ninja
# 2: Há Stock e Sinal Negativo Ninja
# 3: Não há Stock e Sinal Positivo Ninja
# 4: Não há Stock e Sinal Negativo Ninja

> Ciclos

In [160]:
dfFinal["Ciclos"] = dfFinal["SOH"]/dfFinal["PRES_STOCK"]

> Adequação

In [166]:
dfFinal["Adequação"]= np.where(dfFinal["Ciclos"] > 1.1, "Stock Suficiente", 
                               np.where((dfFinal["Ciclos"] <= 1.1) & (dfFinal["INTRANSIT"]+dfFinal["EXPECTED"]+dfFinal["SOH"]>=dfFinal["PRES_STOCK"]), "Stock Insuf c Forn Adequado", 
                                np.where((dfFinal["Ciclos"] <= 1.1) & (dfFinal["INTRANSIT"]+dfFinal["EXPECTED"]+dfFinal["SOH"]<dfFinal["PRES_STOCK"]), "Stock Insuf c Forn Desadequado", "")))

> Dias para rotura

In [169]:
dfFinal["Dias para Rotura"]=dfFinal["SOH"]/dfFinal["Sellout"]

# Reomear e organizar

In [177]:
dfFinal=dfFinal.rename(columns={"VND (D-1)": "Sellout_1_Dia_Antes"})
#dfFinalCorr=dfFinal.iloc[:, [0,1,2,4,3,5,13,7,6,8,9,10,11,14,12,15,16,17]]

In [ ]:
dfFinal.head()

# Acabamos com:
- Informação Ninjas
- Informação Stocks, Linear, Intransit e Expected
- Informação Sellouts, Vendedor, Reposição
- Rotura
- Sinal 
- Ciclos
- Adequação de Stock
- Dias para a rotura

#Desvio padrão

# Escrever

In [178]:
escrever_excel(dfFinal, "JáEstáLong")

.

..

...

....

.....

......

.......

........

# Algo a tentar

- Tentar pôr wide

In [184]:
dfWideMeio=dfMeio.pivot_table(index=nomesProd, columns=nomesProd, values=nomesResto)
#dfWideMeio = dfMeio.pivot(index=nomesResto, columns='DESC_ARTIGO', values='NinjaInfo')
#dfWideMeio = dfMeio.pivot(index='Nome da Loja', columns='DESC_ARTIGO', values='NinjaInfo')
#dfWideMeio = dfMeio.pivot_table(index=['DATA', 'Hora', 'Nome da Loja', 'STORE'], columns='DESC_ARTIGO', values='NinjaInfo', aggfunc='sum', fill_value=0)

ValueError: Grouper and axis must be same length